
*{
    margin:0;
    padding:0;
}

/*     Header portion      */

.header{
    background-color: #008080;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100px;
    padding: 20px;
}

#logo p{
    position:absolute;
    margin-top: 80px;
    margin-left: 10px;
}

.header img{
    width:60px;
    height: 60px;
    position: absolute;
    margin-top: 14px;
    margin-left: 10px;
}

.header h1{
    color:#fcfcfc;
    text-align: center;
}
    
.header p{
    color:#d5c6c6;
    text-align: center;
    font-size:medium;
    margin-top: 5px;
    left: 5px;
}

.header p:hover{
    color: #fdf6e3;
}


/*     Content portion       */
    
.content{
    width: 25%;
    height: 20%;
    background-color: #fdf6e3;
    margin-top: 45px;
    margin-left: 35px;
    padding:20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #008080;
    border-bottom-right-radius: 0;
    display: inline-block;
    vertical-align: top;
}

.content h1{
    color:#ff6f61;
    margin-bottom: 10px;
}

.content h4{
    margin-bottom:5px;
}

.content button{
    margin-top: 8px;
    background-color:#008080;
    color: #fcfcfc;
    padding: 6px;
    width: 90px;
    font-weight: bold;
    border: none;
    border-radius: 5px;   
}

.content button:hover{
    background-color:#ff6f61;
    color: #fcfcfc;
    cursor: pointer;
}


/*     Add button       */


#add-new-task{
    padding:25px;
    border-radius: 100%;
    border: none;
    background-color:#008080;
    color:#fcfcfc;
    font-weight: bolder;
    font-size: xx-large;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#add-new-task:hover{
    bottom:40px;
    right:40px;
    transform: scale(1.4);
    cursor: pointer;
}

/*       Pop-up Page             */

.overlay{
    background-color: black;
    width:100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    opacity: 0.9;
    display: none;
}

.popup{
    background-color:#008080;
    color:#f08f87;
    width: 40%;
    padding: 40px;
    border-radius: 15px;
    position:absolute;
    left: 30%;
    top: 20%;
    z-index: 5;
    display: none;
}

.popup h1{
    margin-bottom: 10px;
}

.popup input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
    border-bottom: solid black 2px;
}

.popup textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background: transparent;
    border: solid black 2px;
}

.popup input::placeholder{
    color: black;
}

.popup textarea::placeholder{
    color: black;
}

.popup button{
    width: 70px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    border:none;
    border-radius: 5px;
    background-color:antiquewhite
}

.popup button:hover{
   background-color: #ff6f61;
   cursor: pointer;
}

.popup input:focus{
   outline: none;
}

.popup textarea:focus{
   outline: none;
}

/* Mobile responsive tweaks - keeps existing alignment using px and % only */
@media (max-width:480px){
  .header{ height:80px; padding:10px; }
  .header h1{ font-size:18px; }
  .header p{ font-size:14px; }
  #logo p{ margin-top:60px; margin-left:10px; }
  .header img{ width:48px; height:48px; margin-top:8px; margin-left:10px; }
  .content{ width: calc(100% - 70px); margin-left:35px; padding:12px; margin-top:20px; }
  #add-new-task{ bottom:18px; right:18px; padding:18px; font-size:20px; }
  .overlay{ position: fixed; }
  .popup{ width:90%; left:5%; top:10%; padding:20px; }
}






